  <section id="contact" class="section contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact-container">
      <!-- Contact info -->
      <div class="contact-info">
        <p>Heb je een vraag of wil je samenwerken? Stuur me gerust een bericht!</p>

        <div class="contact-links">
          <a href="mailto:muhammetmurat3@gmail.com" class="contact-link">
            <img src="/images/social/email.png" alt="Email icoon" class="contact-icon" />
          </a>

          <a
            href="https://www.linkedin.com/in/muhammet-murat-mm3/"
            target="_blank"
            class="contact-link"
          >
            <img src="/images/social/LinkedIn.svg" alt="LinkedIn icoon" class="contact-icon" />
          </a>
        </div>
      </div>

      <!-- Contact form -->
      <form class="contact-form" action="https://formspree.io/f/xjgdjdpq" method="POST">
        <input type="text" name="name" placeholder="Naam" required />
        <input type="email" name="email" placeholder="E-mail" required />
        <textarea name="message" rows="15" placeholder="Bericht" required></textarea>
        <button type="submit">Verstuur</button>
      </form>
    </div>
  </section>
