  <section id="contact" class="section contact">
    <h2 class="section-title">{{ 'CONTACT.TITLE' | translate }}</h2>

    <div class="contact-container">
      <!-- Contact info -->
      <div class="contact-info">
        <p>{{ 'CONTACT.DESCRIPTION' | translate }}</p>

        <div class="contact-links">
          <a href="mailto:muhammetmurat3@gmail.com" class="contact-link">
            <img src="images/social/email.png"  [alt]="'CONTACT.EMAIL_ALT' | translate" class="contact-icon" />
          </a>

          <a
            href="https://www.linkedin.com/in/muhammet-murat-mm3/"
            target="_blank"
            class="contact-link"
          >
            <img src="images/social/LinkedIn.svg"  [alt]="'CONTACT.LINKEDIN_ALT' | translate" class="contact-icon" />
          </a>
        </div>
      </div>

      <!-- Contact form -->
      <form class="contact-form" action="https://formspree.io/f/xjgdjdpq" method="POST">
        <input type="text" name="name" [placeholder]="'CONTACT.NAME_PLACEHOLDER' | translate" required />
        <input type="email" name="email" [placeholder]="'CONTACT.EMAIL_PLACEHOLDER' | translate" required />
        <textarea name="message" rows="15" [placeholder]="'CONTACT.MESSAGE_PLACEHOLDER' | translate" required></textarea>
        <button type="submit">{{ 'CONTACT.BUTTON' | translate }}</button>
      </form>
    </div>
  </section>
