  <section id="home" class="section home">
    <div class="home-content">
      <!-- Linkerkant: tekst -->
      <div class="home-text">
        <h2 class="subtitle">A Full Stack Developer</h2>
        <h1 class="title">Hi,I am <span class="accent">Muhammet</span></h1>
        <p class="location">📍 Based in Antwerp, Belgium</p>
      </div>

      <!-- Rechterkant: foto + icons -->
      <div class="home-photo">
        <img src="/images/muhammet.png" alt="Muhammet portrait" class="profile-img" />

        <div class="social-links">
          <a href="https://github.com/KDG-Muhammet" target="_blank">
            <img src="/images/social/github-mark-white.svg" alt="GitHub" />
          </a>
          <a href="https://www.linkedin.com/in/muhammet-murat-mm3/" target="_blank">
            <img src="/images/social/LinkedIn.svg" alt="LinkedIn" />
          </a>
          <a href="mailto:muhammetmurat3@gmail.com">
            <img src="/images/social/email.png" alt="Email" />
          </a>
          <a href="/CV.pdf" target="_blank">
            <img src="/images/cv.png" alt="CV" />
          </a>
        </div>
      </div>
    </div>
  </section>
