/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;;
}

* {
  outline: none;
}
body {
  font-family: 'JetBrains Mono', monospace;
  background: #0d1117;
  color: #c9d1d9;
}

body {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

}

.site-wrapper {
  max-width: 1400px;
  background-color: rgba(43, 46, 51, 0.9); /* donkere overlay achter de tekst */
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  
}

@media (max-width: 370px) {
  .site-wrapper {
    padding: 0;
  }
}

.section-title {
  font-size: 2.5rem;
  color: #58a6ff;
  text-align: center;
}

@media (max-width: 560px) {
  
  .section-title {
    font-size: 2rem;
  }
}

.section {
  min-height: 50vh; /* vult volledige viewport */
  padding: 0px 2rem 2rem; /* 100px top i.v.m. fixed header */
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  scroll-margin-top: 90px;
}